
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');


*{
    margin: 0;
    padding-inline-start: 0;
    box-sizing: border-box;
    
}

body{
    background-color: #eeeeee;
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.product-card{
    background-color: #cb2140;
    width: 1000px;
    border-radius: 18px;
    box-shadow: 0 7px 20px rgba(0, 0, 0, .7);
    display: flex;
    align-items: center;
    overflow: hidden;
}

.product-image{
    margin: 0 60px;
}

.product-info{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #0c1f2c;
    padding: 40px;
}

.product.title{
    font-weight: 800;
    line-height: 45px;
    font-size: 40px;
    text-transform: uppercase;
    margin: 0 0 20px 0;
}

.section-tag{
    font-size: 10px;
    padding: 5px 10px;
    border-radius: 100px;
    border: 1px solid #cb2140;
    margin: 0 5px;
    text-transform: uppercase;
}

.product-section{
    margin-bottom: 40px;
}

.section-subtitle{
    font-weight: bold;
    line-height: normal;
    font-size: 14px;
    margin-bottom: 15px;

}

.section-price{
    font-weight: 500;
    font-size: 32px;
    margin-top: 0;
    margin-bottom: 30px;
}

.button-buy{
    width: 40%;
    background-color: #cb2140;
    border-radius: 90px;
    font-weight: 300;
    font-size: 14px;
    padding: 0 24px;
    color: white;
    border: none;
}

.button-buy-text{
    line-height: 48px;
}

@media(max-width:1000px){
    .product-card{flex-direction: column;
    widows: 1000px;}

    .product-image{
        width: 250px;
        margin-bottom: 35px auto ;
    }

    .product-info{
        text-align: center;
    }
    
}
